@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

html { 
  height: 100%;
} 

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.body-container {
  display: flex;
  flex-direction:column;
  width: 1200px;
}

.img {
  max-width: 100%;
  height: auto;
}

.page-header {
  display: flex;
  width: 1060px;
  height: 70px;
  margin: 0px 70px 0px 70px;
  color: #000000;
  background-color: #E5E5E5;
}

.navigation {
  display: flex;
  flex-direction:row;
  width: 891px;
  height: 70px;
  margin-left: 30px;
  background-color: #814b18;
}

.navigation-pages {
  display: flex;
  width: 345px;
  height: 66px;
  margin: 0px 282px 4px 0px;
  background-color: #dbb590;  
}

.navigation-list {
  display: flex;
  list-style-type: none; 
  margin: 0px 0px;
  padding: 0px 0px;   
}

.navigation-item { 
  width: 68px;
  height: 26px;
  margin: 20px 17px;
  background-color: #ADFF2F;
}

.navigation-link {
  display: flex;
  flex-grow: 0;
  position: static;
  text-align: center;  
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
 }

 .navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 4px;
  background-color: #ffffff;
  content: "";
}

.navigation-pages-menu {
  display: flex;
  width: 264px;
  height: 66px;
  margin-bottom: 4px;
  background-color: #dbb590;
}

.navigation-list navigation-user {
  display: flex;
  list-style-type: none; 
  margin: 0px 0px;
  padding: 0px 0px;   
}

.navigation-item-icon { 
  width: 42px;
  height: 66px;
  margin: 0px 0px;
  background-color: #ADFF2F;
}

.navigation-buttle {
  display: flex;
  margin: 14px 0px 15px 20px;
  padding: 9px 15px 8px 15px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756257;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center; 
  align-items: center;
  justify-content: center; 
  width: 160px;
  height: 37px;
}

.logo {
  margin: 51px 371px 82px 371px;
}

.main-header {
  display: block;
  height: 761px;
  margin-bottom: 6px;
}

.causes {
  display: block;
  height: 485px;
  margin: 0;
  color: #000000;
  background-image: url("../css/images/body-main/background-image/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.causes-text {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
  height: 282px;
  margin: 0;
}

.interest-title {
  width: 720px; 
  height: 36px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin: 63px 240px 31px 240px;
  text-transform: uppercase;
}

.interest-texte {
  width: 720px; 
  height: 52px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  color: #333333;
  margin: 0px 240px 80px 240px;
}

.index-columns {
  display: grid;
  grid-template-columns: repeat(3, lfr); 
  grid-template-rows: repeat(3, lfr); 
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 1535px;  
  background-color: #008080;
  gap: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  display: block;  
  width: 400px;
  height: 384px;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

.grid-item1,
.grid-item7 {
  background-color: #83B3D3;
}

.grid-item3,
.grid-item5,
.grid-item8,
.grid-item10 {
  background-color: rgba(131, 179, 211, 0.12);;
}

.grid-item9 {
  background-color:rgba(131, 179, 211, 0.2);
}

.interest {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 411px;
  border: #008080;
}

.button-all {
  display: flex;
  margin: 56px 313px 93px 312px;
  padding: 15px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756257;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center; 
  border-radius: 10px;
  width: 575px;
  height: 60px;
}

.main-subscription {
  display: grid;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../css/images/body-main/background-image/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 411px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main-subscription-title {
  width: 720px; 
  height: 36px;
  margin: 94px 240px 29px 240px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.main-subscription-text {
  width: 720px; 
  height: 52px;
  margin: 29px 240px 46px 240px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
}

.main-appointment-form-container {
  display: flex;
  margin: 0px 200px 93px 200px;
  width: 1000px;
  height: 60px;
  background-color: #814b18;
}

.appointment-form-container {
  display: flex;
  margin: 0px 200px 140px 200px;
  background-color: #ADFF2F;
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column; 
  width: 1200px;
  height: 120px;
  margin: 0px 0px 0px 0px;
  padding: 0 40px;
}

.page-footer-container {
  display: flex;
  height: 120px;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;  
  width:720px;
  margin: 30px 53px 40px 61px;
} 

.footer-contacts-address-phone-n {
  text-decoration: none;
  color: #000000;
}

.footer-logo {
  width: 115px;
  margin: 42px 72px 44px 53px;
}

.social-media {
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 107px;
  height: 18px;
  margin-bottom: 49px;
  margin-top: 53px;
}

.social-media a {
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap; 
  padding: 0;
  list-style-type: none;
  margin-top: 49px 61px 53px 72px;
}

.footer-social-item-t {
  margin: 0px 29px 0px 0px;
  width: 18px;
  height: 15px;
} 

.footer-social-item-f {
  margin-bottom: 0px 30px 0px 29px;
  width: 10px;
  height: 18px;
} 

.footer-social-item-y {
  margin-bottom: 0px 0px 0px 30px;
  width: 20px;
  height: 16px;
} 

.catalog-filter-container {
  height: 408px;
  width: 1200px;
  background-color: #008080;
  margin: 0;
  padding: 35px 72px;
  background: url("../css/images/body-main/background-image/catalog-background.jpg");
}

.catalog-right-column {
  display: flex;
  flex-direction: row;
  width: 1057px;
  padding-top: 44px;
}

.catalog-right-column-inf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  list-style-type: none;
  margin: 53px 72px 30px 72px;
  width: 1056px;
}  

.catalog-right-column {
  display: flex;
  width: 1056px;
  height: 48px;
  margin: 44px 72px 53px 71px;
  background-color: #83B3D3;
}

.catalog-right-column-inf-thirdline  {
  height: 120px;
  margin: 34px 0px 0px 0px;
}

.catalog-right-column .button {
  width: 48px;
  height: 48px;
}

.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0px 192px 0px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover,
.footer-social-link-t:hover {
  background-color: #814b18;
}

.button:focus,
.footer-social-link-t:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.button:hover,
.footer-social-link-f:hover {
  background-color: #814b18;
}

.button:focus,
.footer-social-link-f:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.button:hover,
.footer-social-link-y:hover {
  background-color: #814b18;
}

.button:focus,
.footer-social-link-y:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.button:hover {
  background-color: #814b18;
}

.button:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.button:disabled {
  color: #e7e7e7;
  background-color: #595959;
}

.button:disabled:hover {
  background-color: #595959;
  outline: none;
  cursor: default;
}

.navigation-user {
  max-width: 300px;
  margin-left: 282px;
}

 .navigation-link:hover {
  background-color: #83B3D3;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}

.navigation-link:hover .navigation-icon {
  fill: #242424;
}

.navigation-link:focus .navigation-icon {
  fill: #dbdbdb;
}

.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
}

.page-container {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-title-img {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px; 
  margin-top: 97px;
}

.advantages-title-number {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 30px; 
  margin-top: 30px;
}

.advantages-title-inf {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 87px; 
  margin-top: 30px;
}

.opportunities {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px; 
  margin-top: 23px;
  margin-left: 75px;
  margin-right: 75px;
}

.opportunities-icon {
  width: 75px;
  height: 75px;
  margin-bottom: 23px; 
  margin-top: 89px;
  margin-left: 163px;
  margin-right: 162px;
}

.opportunities-inf {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 79px; 
  margin-top: 20px;
  margin-left: 75px;
  margin-right: 75px;
}

.advantages-title {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px; 
  margin-top: 97px;
}

.advantages-title-serial-number {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 30px; 
  margin-top: 30px;
}

.advantages-title-serial-inf {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 108px; 
  margin-top: 30px;
}

.services {
  width: 400px;
  text-transform: uppercase;
}

.advantages-item-services h4 {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}
   
.advantages-item-services p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.field {
  margin: 0;
  padding: 8px 14px;
  font: inherit;
  font-weight: 700;
  background-color: #ffffff;
  border: 2px solid #242424;
}

.field:hover,
.field:focus {
  border-color: #af7842;
}

.field:focus {
  outline: 2px solid #dbb590;
}

.field:disabled,
.field:disabled:hover {
  color: #595959;
  background-color: #dbb590;
  border-color: #595959;
}

.field:invalid {
  box-shadow: none;
}

.field:focus:invalid {
  border-color: #ea5454;
}

.field::placeholder {
  color: #dbdbdb;
  opacity: 1;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0; 
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  margin-right: 26px;
  position: relative;
}

.breadcrumbs-link::after {
  content:'';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #242424;
}

.breadcrumbs-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: -20px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  content: "";
  transform: rotate(45deg);
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  content: none;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  margin-right: 40px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  text-align:center;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
  
.control-input {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.select-control-cheap {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-price-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;     
}

.hotel-card a {
  text-decoration: none;
  }

.hotel-card-button-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-pagination-show-more {
  width: 620px;
  height: 60px;
  margin: 30px 218px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  line-height: 26px; 
  font-weight: bold;
  color: #FFFFFF;
  background: #83B3D3;
  text-decoration: none;
  font-size: 20px;   
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination-sorting {
  display: flex;
  width: 1056px;
  height: 55px;
  margin: 30px 72px 73px 72px;
  background-color: #ADFF2F;
}

.pagination-container {
  display: flex;
  margin-right: 299px;
  width: 371px;
  background-color: #dbb590; 
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sorting {
  width: 386px;
  height: 48px;
  margin: 3px 0px 4px ;
}

.subscription {
  display: grid;
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 800;
  height: 241px;
  margin: 73px 200px 140px 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.subscription-title {
  width: 720px; 
  height: 36px;
  margin: 0px 40px 46px 40px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscription-text {
  width: 720px; 
  height: 52px;
  margin: 46px 40px 46px 40px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px); 
  list-style-type: none;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  gap: 10px; 
}

.hotel-card {
  background-color: #ffffff;
  width: 340px;
  margin-bottom: 10px;
  margin-right: 18px;
}

.hotel-card:nth-child(3n) {
  margin-right: 0;
}

.hotel-card-image {
  width: 300px;
  height: 206px;
  object-fit: contain;
}

.button-pagination-show-more {
  display: flex;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83B3D3;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;  
}

.hotel-card-button-btn-inf {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #756257;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center; 
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 133px;
  height: 37px;
}

.hotel-card-button-btn {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #83B3D3;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center; 
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 133px;
  height: 37px;
} 

.photo-menu {
  list-style-type: none;
}
  
 
.sorting-type {
  margin-right: auto;
} 

.card-grid-toggle{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  left: 1008px;
  top: 517px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.card-grid-toggle svg {
  fill: #000000;
}

.card-grid-toggle-current {
  background-color: #FFFFFF;
}

.card-grid-toggle-current svg {
  fill: #000000;
}

.card-grid-toggle:hover {
  background-color: #814b18;
}

.card-grid-toggle:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.card-grid-toggle:hover svg,
.card-grid-toggle:focus svg {
  fill: #ffffff;
}

.pagination-link:hover {
  background-color: #814b18;
}

.pagination-link:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.newsletter-email .field {
  width: 192px;
}

.newsletter-email {
  flex-grow: 1;
  margin: 0;
}

.newsletter-form {
  display: flex;
}

.range-scale {
  position: relative;
  height: 0px;
  margin-bottom: 16px;
  border: 4px solid #FFFFFF;
  background-color: #242424;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #83B3D3;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #FFFFFF;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #dbb590;
} 

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #242424;
}

.control:hover .control-mark {
  border-color: #814b18;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #242424;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control-label {
  line-height: 22px;
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px;
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding: 8px 14px;
  padding-right: 48px;
  font: inherit;
  font-weight: 700;
  background-color: #ffffff;
  border: 2px solid #242424;
  background-image: url("images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #af7842;
}

.select-control:focus {
  outline: 2px solid #dbb590;
}

.card-grid-toggle-current:hover {
  background-color: #000000;
}

.card-grid-toggle-current:hover svg {
  fill: #ffffff;
}

