@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

html { 
  height: 100%;
} 

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

.body-container {
  width: 1200px;
}

.page-header {
  color: #000000;
  background-color: #E5E5E5;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  width: 455px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  line-height: 26px; 
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("images/background-image/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.gallery {
  width: 400px;
  height: 384px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000
}

.advantages-title-img {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF
}

.advantages-title-number {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF
}

.advantages-title-serial-number {
  font-size: 18px;
  line-height: 21px;
  color: #000000
}

.services {
  width: 400px;
  text-transform: uppercase;
}

.advantages-item-services h4 {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}
   
.advantages-item-services p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
   
.interest-title {
  width: 720px; 
  height: 36px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  color: #000000
}
  
.interest-texte {
  width: 720px; 
  height: 52px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  color: #333333
}

.main-subscription {
  color: #000000;
  background-color: #ffffff;
  background-image: url("images/background-image/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 411px;
}

.main-subscription-title {
  width: 720px; 
  height: 36px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF
}

.main-subscription-text {
  width: 720px; 
  height: 52px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  margin: 0 auto;
  padding: 0 40px;
}
  
.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 184px;
  height: 86px;
}

.social-media a {
  width: 10px;
  height: 18px;
  text-decoration: none;
}
  
.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;  
  width:720px;
}  

.footer-logo {
  width: 115px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  margin-right: 40px;
}

.catalog-right-column {
  width: 1056px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
  
.control-input {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF
}

.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control-cheap {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-price-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;     
}

.hotel-card a {
  text-decoration: none;
  }

.hotel-card-button-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-pagination-show-more {
  width: 620px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}


img {
  max-width: 100%;
  height: auto;
}
