@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

.page-header {
  color: #000000;
  background-color: #E5E5E5;
}

.navigation-link {
  font-family: inherit;
  line-height: 26px; 
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("images/background-image/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-family: inherit;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-services h4 {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}
   
.advantages-item-services p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
   
.interest-title {
  width: 720px; 
  height: 36px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  color: #000000
}
  
.interest-texte {
  width: 720px; 
  height: 52px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  color: #333333
}

.main-subscription {
  color: #000000;
  background-color: #ffffff;
  background-image: url("images/background-image/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
}

.main-subscription-title {
  width: 720px; 
  height: 36px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF
}

.main-subscription-text {
  width: 720px; 
  height: 52px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
}
  
.social-media a {
  width: 10px;
  height: 18px;
  text-decoration: none;
}
  
.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}  

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
  
.control-input {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF
}

.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control-cheap {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-price-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;     
}

.hotel-card a {
  text-decoration: none;
  }

.hotel-card-button-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-pagination-show-more {
  width: 620px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
